APP_BASE_URL="https://vendas.ecoferro.com.br"
PORT="3000"
DATA_DIR="./data"
ML_CLIENT_ID="SEU_CLIENT_ID_DO_MERCADO_LIVRE"
ML_CLIENT_SECRET="SEU_CLIENT_SECRET_DO_MERCADO_LIVRE"
VITE_ML_REDIRECT_URI="https://vendas.ecoferro.com.br/ml-callback"
VITE_API_PROXY_TARGET="http://localhost:3000"
